<div class="bx-breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_0" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            
            <a itemprop="item" href="/" title="Каталог">
                <span itemprop="name">Каталог</span>
                <meta itemprop="position" content="1">
            </a>
        </div>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_1" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <i class="fa fa-angle-right"></i>
            <a itemprop="item" href="/spares/" title="Запчасти">
                <span itemprop="name">Запчасти</span>
                <meta itemprop="position" content="2">
            </a>
        </div>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_2" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <i class="fa fa-angle-right"></i>
            <a itemprop="item" href="/spares/stekla_dlya_spetstekhniki/" title="Стекла кабины">
                <span itemprop="name">Стекла кабины</span>
                <meta itemprop="position" content="3">
            </a>
        </div>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_3" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <i class="fa fa-angle-right"></i>
            <a itemprop="item" href="/spares/stekla_dlya_spetstekhniki/stekla_dlya_avtokranov/" title="Стекла для автокранов">
                <span itemprop="name">Стекла для автокранов</span>
                <meta itemprop="position" content="4">
            </a>
        </div>
        <div class="bx-breadcrumb-item" id="bx_breadcrumb_4" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <i class="fa fa-angle-right"></i>
            <a itemprop="item" href="/spares/stekla_dlya_spetstekhniki/stekla_dlya_avtokranov/stekla-dlya-avtokranov-chelyabinec-svechel/" title="СВЭЧЕЛ">
                <span itemprop="name">СВЭЧЕЛ</span>
                <meta itemprop="position" content="5">
            </a>
        </div></div>