section.carousel__wrapper.container
    h2 Похожие товары
    .carousel.carousel__alike

        .carousel__item
            .carousel__img
                img(src="images/item-images/1.jpg", alt="Товар", width="150px")
            span.carousel__article Арт. 60.0205.144В
            span.carousel__name
                span.carousel__name-text 
                    a Гидромотор 310.12.00.00 нерегулируемый (реверсивный, шлицы)
                span.spoiler
            .carousel__price-wrap
                span.carousel__preprice от 
                span.carousel__price 14700
                span.carousel__preprice &nbsp; &#8381;
            .carousel__cart.btnCart
                        
                button.btn.btn-cart
                    svg.btn-cart-icon
                        use(xlink:href="images/sprite.svg#cart")
                    svg.btn-cart-icon--checked
                        use(xlink:href="images/sprite.svg#check2")
                    span.btn-cart-text В корзину
                    span.btn-cart-text--checked Успешно

                button.btn.btn-fav(data-tooltip="Добавить в избранное")
                    svg.btn-fav-icon
                        use(xlink:href="images/sprite.svg#book")
        
        
        .carousel__item
            .carousel__img
                img(src="images/4.jpg", alt="Товар", width="150px")
            span.carousel__article Арт. 60.0205.144В
            span.carousel__name 
                span.carousel__name-text 
                    a.carousel__name-link Опорно поворотное устройство ОПУ SE-1B60-2020-1240 (аналог QWA2020x60-00) гусеничного крана ДЭК-321
                span.spoiler
            .carousel__price-wrap
                span.carousel__preprice от 
                span.carousel__price 14700
                span.carousel__preprice &nbsp; &#8381;
            .carousel__cart.btnCart
                        
                button.btn.btn-cart
                    svg.btn-cart-icon
                        use(xlink:href="images/sprite.svg#cart")
                    svg.btn-cart-icon--checked
                        use(xlink:href="images/sprite.svg#check2")
                    span.btn-cart-text В корзину
                    span.btn-cart-text--checked Успешно

                button.btn.btn-fav(data-tooltip="Добавить в избранное")
                    svg.btn-fav-icon
                        use(xlink:href="images/sprite.svg#book")
        
        
        .carousel__item
            .carousel__img
                img(src="images/item-images/2.jpg", alt="Товар", width="150px")
            span.carousel__article Арт. 60.0205.144В
            span.carousel__name 
                span.carousel__name-text 
                    a.carousel__name-link(href="https://ya.ru", target="_blank") Стекло форточки дверное левое верхние ближе к заднему стеклу слайдер (закаленное) для экскаватора John Deere lc200d, lc240d, lc260d, lc300d, lc330d, lc360d, lc200d, lc240d, lc260d, lc300d, lc330d, lc360d
                span.spoiler
            .carousel__price-wrap
                span.carousel__preprice от 
                span.carousel__price 14700
                span.carousel__preprice &nbsp; &#8381;
            .carousel__cart.btnCart
                        
                button.btn.btn-cart
                    svg.btn-cart-icon
                        use(xlink:href="images/sprite.svg#cart")
                    svg.btn-cart-icon--checked
                        use(xlink:href="images/sprite.svg#check2")
                    span.btn-cart-text В корзину
                    span.btn-cart-text--checked Успешно

                button.btn.btn-fav(data-tooltip="Добавить в избранное")
                    svg.btn-fav-icon
                        use(xlink:href="images/sprite.svg#book")
        
        .carousel__item
            .carousel__img
                img(src="images/item-images/1.png", alt="Товар", width="150px")
            span.carousel__article Арт. 60.0205.144В
            span.carousel__name 
                span.carousel__name-text 
                    a Гидромотор 310.12.00.00 нерегулируемый (реверсивный, шлицы)
            .carousel__price-wrap
                span.carousel__preprice от 
                span.carousel__price 14700
                span.carousel__preprice &nbsp; &#8381;
            .carousel__cart.btnCart
                        
                button.btn.btn-cart
                    svg.btn-cart-icon
                        use(xlink:href="images/sprite.svg#cart")
                    svg.btn-cart-icon--checked
                        use(xlink:href="images/sprite.svg#check2")
                    span.btn-cart-text В корзину
                    span.btn-cart-text--checked Успешно

                button.btn.btn-fav(data-tooltip="Добавить в избранное")
                    svg.btn-fav-icon
                        use(xlink:href="images/sprite.svg#book")
        
        .carousel__item
            .carousel__img
                img(src="images/item-images/3.png", alt="Товар", width="150px")
            span.carousel__article Арт. 60.0205.144В
            span.carousel__name Гидромотор 310.12.00.00 нерегулируемый (реверсивный, шлицы)
            .carousel__price-wrap
                span.carousel__preprice от 
                span.carousel__price 14700
                span.carousel__preprice &nbsp; &#8381;
            .carousel__cart.btnCart
                        
                button.btn.btn-cart
                    svg.btn-cart-icon
                        use(xlink:href="images/sprite.svg#cart")
                    svg.btn-cart-icon--checked
                        use(xlink:href="images/sprite.svg#check2")
                    span.btn-cart-text В корзину
                    span.btn-cart-text--checked Успешно

                button.btn.btn-fav(data-tooltip="Добавить в избранное")
                    svg.btn-fav-icon
                        use(xlink:href="images/sprite.svg#book")
        
        
        .carousel__item
            .carousel__img
                img(src="images/item-images/3.jpg", alt="Товар", width="150px")
            span.carousel__article Арт. 60.0205.144В
            span.carousel__name Гидромотор 310.12.00.00 нерегулируемый (реверсивный, шлицы)
            .carousel__price-wrap
                span.carousel__preprice от 
                span.carousel__price 14700
                span.carousel__preprice &nbsp; &#8381;
            .carousel__cart.btnCart
                        
                button.btn.btn-cart
                    svg.btn-cart-icon
                        use(xlink:href="images/sprite.svg#cart")
                    svg.btn-cart-icon--checked
                        use(xlink:href="images/sprite.svg#check2")
                    span.btn-cart-text В корзину
                    span.btn-cart-text--checked Успешно

                button.btn.btn-fav(data-tooltip="Добавить в избранное")
                    svg.btn-fav-icon
                        use(xlink:href="images/sprite.svg#book")
        
        
       
