.catalog__main
    .catalog__close

    h1.catalog__title Каталог
        
    h2.catalog__subtitle Запчасти 
    ul.catalog__list
        li.catalog__item 
            a(href="#") Стекла
            img(src="images/catalog-images/4.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item 
            a(href="#") Кресла машиниста
            img(src="images/catalog-images/3.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Коробки отбора мощности
            img(src="images/catalog-images/c.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Приборы безопасности
            img(src="images/catalog-images/2.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Электрооборудование
            img(src="images/catalog-images/6.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Редукторы
            img(src="images/catalog-images/7.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Опорно-поворотные устройства (ОПУ)
            img(src="images/catalog-images/8.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Гидрооборудование
            img(src="images/catalog-images/1.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Фильтры
            img(src="images/catalog-images/9.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Системы отопления и охлаждения
            img(src="images/catalog-images/4.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Тросики управления
            img(src="images/catalog-images/5.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Канаты и стропы
            img(src="images/catalog-images/1.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Колодки и тормозные диски
            img(src="images/catalog-images/2.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Запчасти для дробильного оборудования
            img(src="images/catalog-images/3.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны

    h2.catalog__subtitle Запчасти по типу спецтехники
    ul.catalog__list
        li.catalog__item 
            a(href="#") Стекла
            img(src="images/catalog-images/4.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item 
            a(href="#") Кресла машиниста
            img(src="images/catalog-images/3.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Коробки отбора мощности
            img(src="images/catalog-images/c.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Приборы безопасности
            img(src="images/catalog-images/2.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Электрооборудование
            img(src="images/catalog-images/6.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Редукторы
            img(src="images/catalog-images/7.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Опорно-поворотные устройства (ОПУ)
            img(src="images/catalog-images/8.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Гидрооборудование
            img(src="images/catalog-images/1.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Фильтры
            img(src="images/catalog-images/9.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Системы отопления и охлаждения
            img(src="images/catalog-images/4.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Тросики управления
            img(src="images/catalog-images/5.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Канаты и стропы
            img(src="images/catalog-images/1.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Колодки и тормозные диски
            img(src="images/catalog-images/2.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны
        li.catalog__item
            a(href="#") Запчасти для дробильного оборудования
            img(src="images/catalog-images/3.jpg", alt="")
            ul.catalog__sublist
                li.catalog__subitem 
                    a(href="#") Гидрораспределители
                li.catalog__subitem 
                    a(href="#") Гидрораспределители с электромагнитным управлением
                li.catalog__subitem 
                    a(href="#") Катушки (соленоиды)
                li.catalog__subitem 
                    a(href="#") Гидронасосы и гидромоторы
                li.catalog__subitem 
                    a(href="#") Клапаны