section.desc
    .desc__tabs.tabs(id="main-tabs-wrapper")
        ul.tabs__nav.main-btns
            li.tabs__btn Описание
            li.tabs__btn Характеристики
            li.tabs__btn Чертежи
            li.tabs__btn Подходит&nbsp;для&nbsp;спецтехники
            li.tabs__btn Доставка

        .tabs__content.main-panes
            .tabs__pane.description
                h2 Применяемость гидронасоса
                p  
                    b Гидромотор 310.4.112.00.06 
                    | имеет шлицевой вал с реверсивным вращением, с бесступенчатым, либо ступенчатым регулированием. Рабочий объем определяется углом наклона блока цилиндров, а в исходном положении может быть минимальным или максимальным, с негативным или позитивным управлением. Блок цилиндров меняет угол наклона, за счет чего увеличивается частота вращения, которая регулирует количество эксплуатационной жидкости в системе.

                p Гидромотор преобразует энергию рабочей жидкости в механическую энергию вращения выходного вала. Данная модель 310.3.112.00.06, 310.4.112.00.06 устанавливается в гидросистемах дорожных, строительных, коммунальных, нефтегазовых и буровых машинах.
                
                h2 Эксплуатация гидравлической машины
                b Последовательность действий работников предприятия в процессе использования гидравлической машины. До того, как приступить к работе, следует:

                ul
                    li осуществить проверку контровки и затяжки резьбовых соединений;
                    li заполнить гидросистему рабочей жидкостью через специальный заправочный элемент, оснащенный фильтрами для фильтрации с уровнем тонкости в 25 микрометров;
                    li проконтролировать уровень масла в баке;
                    li залить в полость гидравлической машины масло;
                    li осуществить пробный запуск устройства без нагрузки, после чего прогреть рабочую жидкость путем холостого перемещения рабочего узла с частотой вращения вала в пределах от 700 до 900 об/мин.
                
                h2 Эксплуатационные ограничения:                                                                                            

                p Данная модель имеет определенные требования к гидравлическим системам. Для установки изделия гидросистема должна быть оснащена приборами измерения температуры рабочей жидкости, а также датчиками давления на входной и выходной части магистрали. Предохраняющий клапан должен быть настроен в соответствие с максимальной допустимым давлением на выходе (0,2 Мпа).

                p Важно минимизировать работу в режиме частых перегрузок. При давлении нагнетения в 40Мпа время работы не должно превышать10-12с. с интервалом от 10 мин. При нижних пределах температуры до -25ºC необходимо использовать манжеты FKM, при температуре до - -40ºC – манжеты NBR. Перед вводом в эксплуатацию необходимо проверить трубопровод на герметичность, пустив в течение 5 минут рабочую жидкость под постоянным давлением в 50МПа.
                
                table
                        tbody
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Направление вращения
                                td(itemprop="value") реверсивное
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Рабочий объем, куб.см
                                td(itemprop="value") 11.6
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Расположение и тип рабочих каналов
                                td(itemprop="value") 2 резьбовых отверстия на торце (отвод под 250 к оси вала)
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Тип гидромашины
                                td(itemprop="value") гидромотор
                p 
                    b Многосекционный гидрораспределитель У063.00.000-3-02 
                    | является существенным элементом управления в составе гидравлики поворотной части и «запитывает» всю гидравлику рабочих устройств крана от основного гидронасоса, приводимого в действие мотором шасси ходовой части: гидромоторы грузовой лебёдки и механизма поворота (310.3.112.00.06), гидроцилиндры подъёма и выдвижения телескопической стрелы, гидроразмыкатели тормоза лебёдки и механизма поворота.

                p 
                    b Аксиально-поршневой гидромотор 310.3.112.00.06 
                    | связан с двухступенчатым вертикальным редуктором, выходной вал которого сопряжён, в свою очередь, с ведущей шестерней, сцепляющейся с зубчатым венцом роликовой опоры автокрана.
                
            .tabs__pane.tables 

                cite
                    table
                        tbody
                            tr(itemscope="", itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Вес,кг
                                td(itemprop="value") 4
                            tr(itemscope="", itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Диаметр вала, мм
                                td(itemprop="value") 20
                            tr(itemscope="", itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Исполнение вала
                                td(itemprop="value") шлицевое по ГОСТ 6033-80
                            tr(itemscope="", itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Максимальная частота вращения, обор.мин
                                td(itemprop="value") 6000
                            tr(itemscope="", itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Монтажный фланец
                                td(itemprop="value") ISO 3019/2, 4 отверстия
                                        
                    table
                        tbody
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Направление вращения
                                td(itemprop="value") реверсивное
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Рабочий объем, куб.см
                                td(itemprop="value") 11.6
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Расположение и тип рабочих каналов
                                td(itemprop="value") 2 резьбовых отверстия на торце (отвод под 250 к оси вала)
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Тип гидромашины
                                td(itemprop="value") гидромотор
                                        

            .tabs__pane.drawings
                .tabs.drawings__tabs(id="draw-tabs-wrapper")
                    ul.tabs__nav.draw-btns
                        li.tabs__btn №1 Схема мотора
                        li.tabs__btn №2 Мотор в разрезе
                        li.tabs__btn №3 Схема кабины
                        li.tabs__btn №4 Чертеж фильтра
                        li.tabs__btn №5 Схема ОПУ

                    .tabs__content.draw-panes
                        .tabs__pane
                            img(src="images/1.jpg", alt="")
                            .draw-desc
                                p
                                    b Опорно-поворотное устройство ОП 2220.2.1.16.3.Р.У1 
                                    | - поворотный круг жд кранов КДЭ.Крупногабаритный подшипник устанавливается на неповоротную платформу и выполняет функции вращательного элемента механизма поворота крана. Роликовое ОПУ железнодорожного крана роликового типа эффективно работает при высоких осевых нагрузках, приходящихся на все элементы механизма поворота при движении с грузом.
                        .tabs__pane
                            img(src="images/2.jpg", alt="")
                            .draw-desc
                                table
                                    tbody
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Направление вращения
                                            td(itemprop="value") реверсивное
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Рабочий объем, куб.см
                                            td(itemprop="value") 11.6
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Расположение и тип рабочих каналов
                                            td(itemprop="value") 2 резьбовых отверстия на торце (отвод под 250 к оси вала)
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Тип гидромашины
                                            td(itemprop="value") гидромотор
                        .tabs__pane
                            img(src="images/3.jpg", alt="") 

                            .draw-desc
                                p
                                    b Опорно-поворотное устройство ОП 2220.2.1.16.3.Р.У1 
                                    | - поворотный круг жд кранов КДЭ.Крупногабаритный подшипник устанавливается на неповоротную платформу 
                                    | и выполняет функции вращательного элемента механизма поворота крана. Роликовое ОПУ железнодорожного крана роликового 
                                    | типа эффективно работает при высоких осевых нагрузках, приходящихся на все элементы механизма поворота при движении с грузом.

                                table
                                    tbody
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Направление вращения
                                            td(itemprop="value") реверсивное
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Рабочий объем, куб.см
                                            td(itemprop="value") 11.6
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Расположение и тип рабочих каналов
                                            td(itemprop="value") 2 резьбовых отверстия на торце (отвод под 250 к оси вала)
                                        tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                            td(itemprop="name") Тип гидромашины
                                            td(itemprop="value") гидромотор
                        .tabs__pane
                            img(src="images/4.jpg", alt="")
                        .tabs__pane
                            img(src="images/5.jpg", alt="")
            .tabs__pane
                cite
                    table
                        tbody
                            tr(itemscope="", itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Экскаватор 
                                td(itemprop="value") ЭО-3323, ЭО-4124, ЭО-4225, ЕК-12, ЕК-14, ЕК-16, ЕК-18, ЭО-43212, ЭО-43213
                            tr(itemscope="" itemtype="https://schema.org/PropertyValue")
                                td(itemprop="name") Комбинированные машины
                                td(itemprop="value") КМ-500

                    

            .tabs__pane.
                Какие то там условия


       