<section tabindex="0" itemprop="description" class="descWrap container" id="description" data-id="description">
   <p><b title="kranzapchasti.ru">Коробки отбора мощности (КОМ)</b> по оптовой цене, можно <a href="javascript:" data-toggle="modal" data-target="#universal_form" data-formid="57429">заказать</a> на нашем сайте или отправить заявку на электронную почту <a class="email" href="mailto:mail@kranzapchasti.ru">mail@kranzapchasti.ru</a>, либо позвонить по номеру телефона: <span class="phoneFish"><a class="phone" href="tel:+73512155940">8 (351) 215-59-40</a>, <a class="phone" href="tel:+79507265653">8 (950) 726-56-53</a>, <a class="phone" href="tel:+79080805940">8 (908) 080-59-40</a>, <a class="phone" href="tel:+79028600660">8 (902) 860-06-60</a></span>.</p>
   <p><b>Доставка по всей России и СНГ: </b>Жигулёвск, Полярный, Изобильный, Атбасар, Калач, Арск, Горно-Алтайск, Докшицы, Цимлянск, Радужный, Болотное, Лермонтов, Сенно, Новоалександровск, Липки, Аксу, Кобрин, Шахтинск, Ельня, Чердынь, Воткинск, Атырау, Кодинск, Осинники, Алатырь, Армавир, Стерлитамак, Алтай, Орёл, Ухта, Новокуйбышевск, Топки, Вилючинск, Сергиев Посад, Бирск, Чашники, Раменское, Черкесск, Гусев, Кировск, Березино, Осиповичи, Севастополь, Соль-Илецк, Спас-Клепики, Донецк, Елизово, Островец, Буй, Асбест, Хотьково, Иваново, Урай, Перевоз, Жирновск, Муравленко, Ленгер, Альметьевск, Тында, Петропавловск...</p>
</section>
<div id="feedback" class="feedbackBox container feedbackBasket">
   <form enctype="multipart/form-data" method="post" class="base_form mod1" action="/local/ajax/send.php">
      <input type="hidden" name="data_pagename" value="Гидрооборудование">
      <input type="hidden" name="data_pagecod" value="28413">
      <input type="hidden" name="data_pageurl" value="https://kranzapchasti.ru/spares/gidrooborudovanye/">
      <input type="hidden" name="data_check" value="1668144252">
      <input type="hidden" name="data_verify" value="663ca8ff6c87a686e3797158bda82947">
      <input type="hidden" name="data_cart" value="">
      <input type="hidden" name="data_menu" value="spares">
      <div class="feedback formWrap mod1">
         <input type="hidden" name="data_formname" value="Не нашел нужные запчасти">
         <input type="hidden" name="data_fid" value="404331">
         <input type="hidden" name="data_product" value="">
         <div class="feedback_title">
            <h2>Не нашел нужные запчасти?</h2>
            <div class="formUnderHeader">Наш менеджер свяжется с вами и поможет с поиском</div>
         </div>
         <div class="group1">
            <div class="controls one left">
               <input type="text" name="data_name" placeholder="ИМЯ" value="">
            </div>
            <div class="controls two center">
               <input required="" type="text" name="data_phone" class="!form_phone" pattern="([+]{0,1}[0-9]{1,3}\s?[\(]*[0-9]{3}[\)]*\s?\d{3}[-]*\d{4}*)" placeholder="ТЕЛЕФОН">
            </div>
            <div class="controls three right"><input type="text" name="data_email" class="form_email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-MAIL" value="" inputmode="email"></div>
         </div>
         <div class="group2">
            <div class="controls"><textarea name="data_item" placeholder="СООБЩЕНИЕ"></textarea></div>
         </div>
         <div class="group3">
            <div class="controls">
               <div class="agreementWrap"><label><input required="" type="checkbox" name="agreement" checked="">Я принимаю условия <a href="/privacy/">пользовательского соглашения</a></label></div>
            </div>
            <div class="controls button">
               <div class="attachFiles"><label><span id="countFiles">Прикрепить файлы</span><input id="feedbackFiles" class="formFileInput" type="file" name="data_file[]" multiple="multiple" accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, image/*"></label></div>
               <input type="submit" class="btn btn-default submit" value="Отправить">
            </div>
         </div>
      </div>
   </form>
</div>