<footer class="footer">
    <div class="container">
        <div class="footerMenuList" itemscope="" itemtype="http://schema.org/Organization">
            <meta itemprop="name" content="" /><meta itemprop="address" content="" /><meta itemprop="telephone" content="" />
            <div class="footerMenuListItem column1">
                <div class="footerTopItem">
                    <span class="footerMenuListItemTitle">Спецтехника</span>
                    <ul class="footerMenu">
                        <li><a href="/heavy/graders/">Автогрейдеры</a></li>
                        <li><a href="/heavy/buldosery/">Бульдозеры</a></li>
                        <li><a href="/heavy/traktory/">Тракторы</a></li>
                        <li><a href="/heavy/truboukladchiki/">Трубоукладчики</a></li>
                        <li><a href="/heavy/kozlovye_krany/">Козловые краны</a></li>
                    </ul>
                </div>
                <div class="footerTopItem office">
                    <span class="footerMenuListItemTitle">Челябинск</span>
                    <div class="footerTopItemContent">
                        <ul class="footerMenu">
                            <li><a href="https://yandex.ru/maps/?um=constructor%3A4c1f1a367aebdb02e2b78c86d3e847e864b69d13f92fd2925618e352f6725eb8&amp;source=constructorLink" target="_blank">ул. Сормовская 30А (офис 313)</a></li>
                            <li><a class="phone" href="tel:+73512155940">8 (351) 215-59-40</a></li>
                            <li><a class="phone" href="tel:+79507265653">8 (950) 726-56-53</a></li>
                            <li><a class="phone" href="tel:+79080805940">8 (908) 080-59-40</a></li>
                            <li><a class="email" href="mailto:mail@kranzapchasti.ru">mail@kranzapchasti.ru</a></li>
                        </ul>
                        <div class="social"><a class="vk" href="https://vk.com/kranzapchasti" onclick="yaCounter64599088.reachGoal('vk')" target="_blank">ВКОНТАКТЕ</a></div>
                    </div>
                </div>
            </div>
            <div class="footerMenuListItem column2">
                <span class="footerMenuListItemTitle">Запчасти</span>
                <ul class="footerMenu">
                    <li><a href="/spares/zapchasti_dlya_avtokranov/">Запчасти для автокранов</a></li>
                    <li><a href="/spares/zapchasti_dlya_kranov_manipulyatorov_i_avtogidropodemnikov/">Запчасти для автогидроподъемников</a></li>
                    <li><a href="/spares/zapchasti_dlya_burilno_kranovykh_mashin_bkm_1514_bkm_313_bkm_317_bkm_515_bkm_516_bm_205_bm_205v_bm_2/">Запчасти для бурильно-крановых машин</a></li>
                    <li><a href="/spares/zapchasti_dlya_pogruzchikov/">Запчасти для погрузчиков</a></li>
                    <li><a href="/spares/zapchasti_dlya_avtogreyderov/">Запчасти для автогрейдеров</a></li>
                    <li><a href="/spares/zapchasti_dlya_kranov_na_gusenichnom_khodu_gusenichnyy_kran_mkg_25br_25t_mkg_40_40t_dek_251_25t_dek_/">Запчасти для гусеничных кранов</a></li>
                    <li><a href="/spares/zapchasti_dlya_ekskavatorov/">Запчасти для экскаваторов</a></li>
                    <li><a href="/spares/zapchasti_dlya_komatsu_hitachi_i_hyundai/">Запчасти для Komatsu, Hitachi, Hyundai</a></li>
                    <li><a href="/spares/zapasnye_chasti_k_traktoru_t_130_t_170_b10/">Запчасти для тракторов</a></li>
                    <li><a href="/spares/zapchasti_k_kommunalnym_mashinam/">Запчасти для коммунальных машин</a></li>
                    <li><a href="/spares/zapchasti_dlya_zheleznodorozhnykh_kranov_kde_161_kde_163_kde_251_kde_253_kzhde_16_kzhde_25_kzh_461_k/">Запчасти для железнодорожных кранов</a></li>
                    <li><a href="/spares/zapchasti_dlya_bashennykh_kranov/">Запчасти для башенных кранов</a></li>
                    <li><a href="/spares/zapchasti_dlya_kozlovykh_kranov_kks_10_kk_12_5_lt_62_kks_30_kks_32_ks_50_42/">Запчасти для козловых кранов</a></li>
                    <li><a href="/spares/zapchasti_dlya_mostovykh_kranov/">Запчасти для мостовых кранов</a></li>
                    <li><a href="/spares/zapchasti_dlya_portalnykh_kranov/">Запчасти для портальных кранов</a></li>
                    <li><a href="/spares/zapchasti-dlya-zheleznodorozhnogo-podvizhnogo-sostava/">Запчасти для железнодорожного подвижного состава</a></li>
                </ul>
            </div>
            <div class="footerMenuListItem column3">
                <span class="footerMenuListItemTitle">Изготовление</span>
                <ul class="footerMenu">
                    <li><a href="/making/izgotovlenie-barabana-kranovogo-gruzovogo/">Изготовление барабана кранового грузового</a></li>
                    <li><a href="/making/mufta-uprugaya-vtulochno-paltsevaya-muvp/">Изготовление муфт упругих втулочно-пальцевых (МУВП)</a></li>
                    <li><a href="/making/proizvodstvo-blokov-polispasta-kanatnykh-blokov-/">Изготовление блоков полиспаста</a></li>
                    <li><a href="/making/proizvodstvo-boltov-i-vintov-po-chertezham/">Изготовление болтов и винтов по чертежам</a></li>
                    <li><a href="/making/proizvodstvo-flantsev-po-chertezham/">Изготовление фланцев по чертежам</a></li>
                    <li><a href="/making/proizvodstvo-gaek-shpilek-i-khomutov/">Изготовление крепежа</a></li>
                    <li><a href="/making/proizvodstvo-konicheskikh-shesteryen/">Изготовление конических шестерен</a></li>
                    <li><a href="/making/proizvodstvo-kranovykh-kolyes/">Изготовление крановых колёс</a></li>
                    <li><a href="/making/proizvodstvo-kryukov-kranovykh/">Изготовление крюков крановых</a></li>
                    <li><a href="/making/proizvodstvo-kryukovykh-podvesok/">Изготовление крюковых подвесок</a></li>
                    <li><a href="/making/proizvodstvo-stekol-dlya-spetstekhniki-po-chertezham/">Изготовление стекол по чертежам</a></li>
                    <li><a href="/making/proizvodstvo-tormoznykh-shkivov/">Изготовление тормозных шкивов</a></li>
                    <li><a href="/making/proizvodstvo-tsilindricheskikh-shesteryen/">Изготовление цилиндрических шестерен</a></li>
                    <li><a href="/making/proizvodstvo-val-shesteren/">Изготовление валов-шестерен</a></li>
                    <li><a href="/making/proizvodstvo-valov/">Изготовление валов</a></li>
                    <li><a href="/making/proizvodstvo-zubchatyh-muft/">Изготовление зубчатых муфт</a></li>
                    <li><a href="/making/proizvodstvo-zubchatykh-koles/">Изготовление зубчатых колес</a></li>
                </ul>
            </div>
        </div>
        <span class="logoFooter" data-toggle="modal" data-target="#auth_form"></span>
    </div>
</footer>
